@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Dashboard</h2>

<hr />


<div class="row">
    <div class="md-col-3">@Html.Partial("BarChartView") Bar Chart</div>
    <div class="md-col-3">@Html.Partial("PieChartView") Pie Chart</div>
    <div class="md-col-3">@Html.Partial("LineChartView") Line Chart</div>
</div>