@page
@model WebApplicationWithRazorPages.Pages.AboutUsModel
@{
}
<h1>About us</h1>
<hr />

<img src="images/laptop.jpg" width="200" height="200" />
<h3> <u>Transflower</u></h3>
<p> Mentor: Ravi Tambade</p>
<p>Company: Transflower Learning Pvt. Ltd.</p>
<ol>
    <li>Mentoring</li>
    <li>Training</li>
    <li>Online Workshop</li>
</ol>