@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn Application Development</p>
    <ol>
        <li>C#, .Net </li>
        <li>HTML, CSS, JavaScript </li>
        <li>React </li>
        <li>python </li>
    </ol>
</div>
