@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>
session storage
</h3>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-lable"></label>
            <input class="control-control" id="email" name="email" />
        </div>
        <div class="form-group">
            <label class="control-lable"></label>
            <input class="control-control" id="password" name="password"/>
        </div>
        <div class="form-group">
            <button onclick="holdMyData()">Hold my Data</button>
        </div>

        <div class="col-md-8">
            <label id="lblEmail">Showing Email</label>
            <label id="lblPassword">Showing Password</label>

            <div class="form-group">
                <button onclick="getSessionStorageData()">Session Storage</button>
            </div>

        </div>
    </div>

    <script>
        function holdMyData() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            sessionStorage.setItem("email", email);
            sessionStorage.setItem("password", password);
        }

        function getSessionStorageData() {
            var email = sessionStorage.getItem("email");
            var password = sessionStorage.setItem("password");

            console.log("data from session storage = " + email + " " + password);

            var lblEmail = document.getElementById("lblEmail");
            var lblPassword = document.getElementById("lblPassword");

            lblEmail.innerHTML = email;
            lblPassword.innerHTML = password;
        }
    </script>
</div>